body {
    text-align: center;
    background: #d8f0f3;
}

label {
    color: blue;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Mali', cursive;
}

button {
    color: white;
    background: blue;
    margin: 10px 5px 5px 5px;
    font-family: 'Kodchasan', sans-serif;
}

#create {
    color: white;
    background: blue;
    margin: 10px 5px 10px 5px;
    font-family: 'Kodchasan', sans-serif;
}

p {
    color: blue;
    margin-bottom: 10px;
    font-family: 'Mali', cursive;
}